.no-js .lazyload {
    display: none;
}

.lazyload {
    opacity: 0;
}

.lazyloading {
    opacity: 1;
    transition: 600ms opacity;
    background: #f7f7f7 url(../img/loader.gif) no-repeat center;
    min-height: 35px;
    min-width: 35px;
}

.lazyloaded {
    opacity: 1;
    transition: 9ms opacity;
    background: none;
}

.intrinsic-ratio-box {
    position: relative;
    display: block;
    width: 100%;
}

.intrinsic-ratio-helper {
    display: block;
    height: 0;
    width: 100%;
    /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
    padding-bottom: 56.25%;
}

.intrinsic-ratio-box img,
.intrinsic-ratio-box iframe,
.intrinsic-ratio-box video,
.intrinsic-ratio-box object,
.intrinsic-ratio-box .intrinsic-ratio-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[data-expand].lazyload.intrinsic-ratio-box {
    opacity: 0;
    -webkit-transform: scale(1.05) translateY(-10%);
    transform: scale(1.05) translateY(-10%);
    transition: all 300ms;
}

[data-expand].lazyloaded.intrinsic-ratio-box {
    opacity: 1;
    transition: all 300ms;
    transform: scale(1) translateY(0px);
}
